<template>
  <form post.bind="payment_post_url" submit.delegate="submitCallback()" style="display: inline-block;">
    <input type="text" name="pay_item_id" value.bind="pay_item_id">
    <input type="text" name="product_id" value.bind="product_id">
    <input type="text" name="amount" value.bind="amount">
    <input type="text" name="cust_id" value.bind="cust_id">
    <input type="text" name="cust_name" value.bind="cust_name">
    <input type="text" name="hash" value.bind="hash">
    <input type="text" name="site_redirect_url" value.bind="site_redirect_url">
    <input type="text" name="xml_data" value.bind="xml_data">
    <button type="submit" class="btn btn-default btn-sm">${button_text}</button>
  </form>
</template>